{% if type == 'info' %}
    <title>{% block title %}{{ seo.metaTitle }}{% endblock %}</title>
    <meta name="keywords" content="{% block metakeywords %}{{ seo.metaKeywords }}{% endblock %}" />
    <meta name="description" content="{% block metadescription %}{{ seo.metaDescription }}{% endblock %}" />
{% elseif type == 'desc' %}
    {% if seo.description | trim %}
        <div class="seo_text">
            {{ seo.description | raw }}
        </div>
    {% endif %}
{% endif %}